body {
  background: linear-gradient(0deg, #3353d5 75%, #51d1da 100%);
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    flex: 1;
    img {
      height: 50px;
    }
  }
  .menu {
    flex: 3;
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}
