<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="favouritePopup hide">
      <div class="spot-input">
        <input
          onclick="this.select()"
          placeholder="Name your surf spot"
          type="text"
          name="location"
          id=""
        />
        <button class="submitPopup">
          <img src="../../public/assets/check.png" alt="" />
        </button>
        <button class="closePopup">
          <img src="../../public/assets/close.png" alt="" />
        </button>
      </div>
    </div>
  </body>
</html>
