<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="menu">
      <div class="close">
        <img src="../../public/assets/close.png" alt="" />
      </div>
      <div class="favourites"></div>
      <div class="boardSelector">
        <h3>Current board: <span class="currentBoard">6ft</span></h3>
        <div class="boardSelect">
          <label for="boards">Select Board:</label>
          <select name="boards" id="boards">
            <option value="5">5ft</option>
            <option value="6">6ft</option>
            <option value="7">7ft</option>
            <option value="8">8ft</option>
            <option value="9">9ft</option>
            <option value="10">10ft</option>
          </select>
          <button class="saveBoard">
            <img src="../../public/assets/diskette.png" alt="" />
          </button>
        </div>
        <p>
          Select the size of board you ride to adjust the scale for rideable waves.
        </p>
        <p>
          The smaller the board, the higher waves need to be to hit "green" on the scale.
        </p>
      </div>
    </div>
  </body>
</html>
