<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container mx-auto text-center py-6 mb-12">
      <h2
        class="w-full my-2 text-4xl md:text-5xl font-bold leading-tight text-center text-black"
      >
        Check out Tide Chaser Today
      </h2>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <h3 class="my-4 text-3xl leading-tight">Click below to get started</h3>
      <a
        href="#"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:text-white hover:bg-black mt-4 lg:mt-0"
        >Sign In / Sign Up</a
      >
    </section>
  </body>
</html>
