<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero">
      <div class="contain">
        <!--Left Col-->
        <div class="left">
          <p class="">Ready to hit the waves?</p>
          <h1 class="">Find which waves are breaking near you.</h1>
          <p class="">
            Use Tide Chaser to keep track of your favourite breaks and be ready
            to go when they are.
          </p>
          <a href="./app.html">
            <button
              id="navAction"
              class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
              Go to App
            </button>
          </a>
        </div>
        <!--Right Col-->
        <div class="right hero-image">
          <img src="../../public/assets/images/surf-hero.jpg" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
