<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="bg-white py-8">
      <div
        id="about"
        class="container mx-auto flex flex-wrap pt-4 pb-12 justify-center"
      >
        <h2
          class="w-full my-2 text-4xl md:text-5xl font-bold leading-tight text-center text-gray-800 p-3 md:p-0"
        >
          About Tide Chaser
        </h2>
        <div class="w-full flex justify-center">
          <p class="w-2/3 md:w-1/3 text-center my-10 hidden md:inline">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            fugiat adipisci eveniet illum vitae necessitatibus ex, molestiae
            alias officiis, perspiciatis maiores mollitia. Animi esse nihil
            quibusdam consequuntur. Mollitia, voluptate nam.
          </p>
        </div>
        <div
          class="w-2/3 md:w-1/2 text-gray-800 text-center flex flex-col gap-5 justify-center items-center"
        >
          <h1 class="text-3xl">Features</h1>
          <p class="w-full md:w-2/3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto quae
            culpa voluptatibus nostrum quasi inventore, aliquid soluta fugiat
            consectetur ea quam maxime explicabo? Consectetur, praesentium
            exercitationem voluptatibus perferendis officia consequatur?
          </p>
          <ul>
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
          </ul>
        </div>
        <div class="container flex flex-wrap flex-col w-full md:w-1/2">
          <div class="w-full p-6 flex flex-col flex-grow flex-shrink">
            <div
              class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
            >
              <a
                href="#"
                class="flex flex-wrap no-underline hover:no-underline"
              >
                <div class="w-full font-bold text-xl text-gray-800 p-3">
                  Surfers/Paddleboarders
                </div>
                <p class="text-gray-800 text-base px-6 mb-5">
                  Use Tide Chaser to track wave height, interval and wind
                  direction to make sure it's the best break for you and your
                  board.
                </p>
              </a>
            </div>
          </div>
          <div class="w-full p-6 flex flex-col flex-grow flex-shrink">
            <div
              class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
            >
              <a
                href="#"
                class="flex flex-wrap no-underline hover:no-underline"
              >
                <div class="w-full font-bold text-xl text-gray-800 px-6">
                  Kiteboarders/Windsurfers
                </div>
                <p class="text-gray-800 text-base px-6 mb-5">
                  Check out the wind speed, wind direction and weather
                  conditions to find the perfect run on your favourite spots.
                </p>
              </a>
            </div>
          </div>
          <div class="w-full p-6 flex flex-col flex-grow flex-shrink">
            <div
              class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
            >
              <a
                href="#"
                class="flex flex-wrap no-underline hover:no-underline"
              >
                <div class="w-full font-bold text-xl text-gray-800 px-6">
                  Swimmers
                </div>
                <p class="text-gray-800 text-base px-6 mb-5">
                  Keep an eye on the temperature, weather conditions and sea
                  conditions to make sure your swim is safe and fun.
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
