@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Nunito:wght@300;400;500;700&family=Sarala:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Nunito";
}

h1 {
  font-size: 3.7vw;
}

h2 {
  font-size: 3.5vw;
}

h3 {
  font-size: 2vw;
}

h4,
h5,
h6 {
  font-family: "Marvel";
}

h4 {
  font-size: 2.2vw;
}

h5 {
  font-size: 2vw;
}

h6 {
  font-size: 1.7vw;
}

p,
a {
  font-family: "Sarala";
  font-size: 1vw;
}

.small-img {
  width: 35px;
}

.card {
  background-color: #d1f5ff;
  border-radius: 2vw;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}
.card .cardImage {
  flex: 2;
  background-color: #ecdcaa;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .cardImage img {
  width: 45%;
}
.card .cardBody {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.card .cardBody .cardTitle {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5%;
}
.card .cardBody .cardTitle h4 {
  font-size: 2rem;
}
.card .cardBody .cardLink {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  padding-right: 15%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
.list .item {
  padding-bottom: 1vh;
  border-bottom: 3px solid rgb(99, 207, 228);
}
.list .item h3 {
  margin-bottom: 1vh;
}

.button,
button {
  height: 5vh;
  width: 8.5vw;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-alt-color {
  background-color: #ecdcaa;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin-bottom: 5vh;
}
.text h3 {
  margin-bottom: 2vh;
}
.text p {
  width: 60%;
}
.text button {
  margin-top: 3vh;
  cursor: pointer;
}

.pricingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  border-radius: 10px;
  gap: 3vh;
  padding: 20px;
  background-color: white;
}
.pricingCard .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #ecdcaa;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(99, 207, 228);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 4vh;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
.homeNav .brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.homeNav .brand img {
  width: 15%;
  border-radius: 10px;
}
.homeNav .links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.homeNav .links a {
  text-decoration: none;
  color: black;
}
.homeNav .links a:hover {
  text-decoration: underline;
}
.homeNav .links p {
  cursor: default;
}

.hero {
  height: 55vh;
  display: flex;
  width: 80%;
  margin: 50px 0 100px 0;
  gap: 10px;
}
.hero .col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 0;
  gap: 20px;
  color: rgb(41, 41, 41);
}
.hero .col img {
  width: 100%;
}
.hero .col h1 {
  text-align: left;
  width: 90%;
}
.hero .col h4 {
  text-align: left;
  width: 100%;
}
.hero .col .buttons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.hero .hero-img {
  align-items: center;
  justify-content: flex-end;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0 10vh 0;
  height: 120vh;
}
.features .cols {
  display: flex;
}
.features .cols .cards {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.features .cols .cards .card {
  height: 30vh;
  width: 55%;
}
.features .cols .surf-img {
  flex: 1;
  height: 100vh;
}
.features .cols .surf-img img {
  height: 100%;
}

.uses {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15% 20vw 30vh 20vw;
  background-color: #d1f5ff;
  border-top-left-radius: 60% 120%;
  border-top-right-radius: 60% 120%;
  color: black;
}

.pricing {
  padding: 4vh 0 8vh 0;
  background-color: #d1f5ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.pricing .pricingCards {
  display: flex;
  width: 40%;
  gap: 3vw;
}
.pricing .pricingCards .pricingCard {
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 60px 0 35px 0;
  gap: 20px;
  color: black;
  background-color: #d1f5ff;
}
.footer .links {
  display: flex;
  gap: 10px;
}
.footer .links a {
  text-decoration: none;
  color: black;
}

.signin {
  overflow-x: hidden;
}

.signinHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px 0 50px 0;
}
.signinHero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 40px 0;
  gap: 10px;
}
.signinHero .text h2 {
  font-size: 2rem;
}
.signinHero form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signinHero form div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signinHero form div input {
  width: 75%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}

.signupHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px 0 50px 0;
}
.signupHero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 40px 0;
  gap: 10px;
}
.signupHero .text h2 {
  font-size: 2rem;
}
.signupHero form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signupHero form input {
  width: 75%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}
.signupHero form button {
  width: 50%;
}

.pricingChoice {
  padding: 4% 25% 10% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.pricingChoice .pricingCards {
  display: flex;
  margin: 10% 0 10% 0;
  gap: 40px;
}

.faq {
  padding-top: 10% 0 10% 0;
  width: 100%;
  height: 750px;
}

@media screen and (max-width: 600px) {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    margin-bottom: 40px;
  }
  .text h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    width: 90%;
  }
  .text p {
    width: 80%;
    font-size: 1.2rem;
  }
  .list {
    margin: 0 5% 0 5%;
  }
  .list .item h3 {
    font-size: 1.4rem;
    width: 70%;
    margin-bottom: 10px;
  }
  .homeNav {
    width: 90%;
  }
  .homeNav .brand h4 {
    font-size: 1rem;
  }
  .homeNav .links a {
    font-size: 0.9rem;
  }
  .homeNav .links .button {
    display: none;
  }
  .hero {
    margin-top: 80px;
    width: 100%;
  }
  .hero .hero-img {
    display: none;
  }
  .features .cards {
    flex-direction: column;
  }
  .uses {
    border-radius: 200px 0 0 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
  }
  .pricing .pricingCards {
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 60px 0 35px 0;
    gap: 20px;
    color: black;
    background-color: white;
  }
  .footer h2 {
    font-size: 1rem;
  }
  .footer .links {
    display: flex;
    gap: 10px;
  }
  .footer .links a {
    text-decoration: none;
    color: black;
  }
  .signinHero {
    width: 90%;
    margin-top: 30px;
  }
  .signinHero .text p {
    display: none;
  }
  .signinHero form {
    gap: 10px;
  }
  .signinHero form div input {
    width: 85%;
  }
  .pricingChoice {
    padding: 15% 7.5% 10% 7.5%;
    border-radius: 250px 0 0 0;
  }
  .pricingChoice .pricingCards {
    display: flex;
    flex-direction: column-reverse;
    margin: 2% 0 2% 0;
    gap: 40px;
  }
  .faq {
    width: 100%;
    background-color: white;
    height: 750px;
  }
}/*# sourceMappingURL=home.css.map */