@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Nunito:wght@300;400;500;700&family=Sarala:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Nunito";
}

h1 {
  font-size: 3.7vw;
}
h2 {
  font-size: 3.5vw;
}
h3 {
  font-size: 2vw;
}

h4,
h5,
h6 {
  font-family: "Marvel";
}
h4 {
  font-size: 2.2vw;
}
h5 {
  font-size: 2vw;
}
h6 {
  font-size: 1.7vw;
}

p,
a {
  font-family: "Sarala";
  font-size: 1vw;
}

// TEST
.small-img {
  width: 35px;
}
// TEST

// COMPONENTS
.card {
  background-color: #d1f5ff;
  border-radius: 2vw;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
  .cardImage {
    flex: 2;
    background-color: #ecdcaa;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 45%;
    }
  }
  .cardBody {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    .cardTitle {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 5%;
      h4 {
        font-size: 2rem;
      }
    }
    .cardText {
      // padding: 10px;
    }
    .cardLink {
      padding: 10px;
      border-radius: 0 0 10px 10px;
      display: flex;
      justify-content: flex-start;
      padding-right: 15%;
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  .item {
    padding-bottom: 1vh;
    border-bottom: 3px solid rgb(99, 207, 228);
    h3 {
      margin-bottom: 1vh;
    }
  }
}
.button,
button {
  height: 5vh;
  width: 8.5vw;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-alt-color {
  background-color: #ecdcaa;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin-bottom: 5vh;
  h3 {
    margin-bottom: 2vh;
  }
  p {
    width: 60%;
  }
  button {
    margin-top: 3vh;
    cursor: pointer;
  }
}
.pricingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  border-radius: 10px;
  gap: 3vh;
  padding: 20px;
  background-color: white;
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #ecdcaa;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
  }
}

// BACKGROUND COLOR AND HOME
.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(99, 207, 228);
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// HOME PAGE
.homeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 4vh;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  // background-color: white;
  .brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    img {
      width: 15%;
      border-radius: 10px;
    }
  }
  .links {
    display: flex;
    gap: 30px;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      cursor: default;
    }
  }
}
.hero {
  height: 55vh;
  display: flex;
  width: 80%;
  margin: 50px 0 100px 0;
  gap: 10px;
  .col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 0;
    gap: 20px;
    color: rgb(41, 41, 41);
    img {
      width: 100%;
    }
    h1 {
      text-align: left;
      width: 90%;
    }
    h4 {
      text-align: left;
      width: 100%;
    }
    .buttons {
      margin-top: 30px;
      display: flex;
      gap: 30px;
    }
  }
  .hero-img {
    align-items: center;
    justify-content: flex-end;
  }
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0 10vh 0;
  height: 120vh;
  .cols {
    display: flex;
    .cards {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // gap: 5%;
      color: black;
      .card {
        height: 30vh;
        width: 55%;
      }
    }
    .surf-img {
      flex: 1;
      height: 100vh;
      img {
        height: 100%;
      }
    }
  }
}
.uses {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15% 20vw 30vh 20vw;
  background-color: #d1f5ff;
  // border-radius: 50% 50% 0 0;
  border-top-left-radius: 60% 120%;
  border-top-right-radius: 60% 120%;
  color: black;
}
.pricing {
  padding: 4vh 0 8vh 0;
  background-color: #d1f5ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  .pricingCards {
    display: flex;
    width: 40%;
    gap: 3vw;
    .pricingCard {
      flex: 1;
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 60px 0 35px 0;
  gap: 20px;
  color: black;
  background-color: #d1f5ff;
  .links {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

// SUBSCRIBE PAGE
.signin {
  overflow-x: hidden;
}
.signinHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px 0 50px 0;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0 40px 0;
    gap: 10px;
    h2 {
      font-size: 2rem;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        width: 75%;
        height: 40px;
        border-radius: 7.5px;
        padding-left: 10px;
        border: none;
        font-size: 1.2rem;
      }
    }
  }
}
.signupHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px 0 50px 0;
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0 40px 0;
    gap: 10px;
    h2 {
      font-size: 2rem;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    input {
      width: 75%;
      height: 40px;
      border-radius: 7.5px;
      padding-left: 10px;
      border: none;
      font-size: 1.2rem;
    }
    button {
      width: 50%;
    }
  }
}
.pricingChoice {
  padding: 4% 25% 10% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  .pricingCards {
    display: flex;
    margin: 10% 0 10% 0;
    gap: 40px;
  }
}
.faq {
  padding-top: 10% 0 10% 0;
  width: 100%;
  height: 750px;
}

@media screen and (max-width: 600px) {
  // MOBILE COMPS
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    margin-bottom: 40px;
    h3 {
      font-size: 2rem;
      margin-bottom: 15px;
      width: 90%;
    }
    p {
      width: 80%;
      font-size: 1.2rem;
    }
  }
  .list {
    margin: 0 5% 0 5%;
    .item {
      h3 {
        font-size: 1.4rem;
        width: 70%;
        margin-bottom: 10px;
      }
    }
  }
  // MOBILE COMPS

  .homeNav {
    width: 90%;
    .brand {
      h4 {
        font-size: 1rem;
      }
    }
    .links {
      a {
        font-size: 0.9rem;
      }
      .button {
        display: none;
      }
    }
  }
  .hero {
    margin-top: 80px;
    width: 100%;
    .hero-img {
      display: none;
    }
  }
  .features {
    .cards {
      flex-direction: column;
    }
  }
  .uses {
    border-radius: 200px 0 0 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
  }
  .pricing {
    .pricingCards {
      flex-direction: column;
      width: 90%;
      gap: 20px;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 60px 0 35px 0;
    gap: 20px;
    color: black;
    background-color: white;
    h2 {
      font-size: 1rem;
    }
    .links {
      display: flex;
      gap: 10px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  // SUBSCRIBE PAGE
  .signinHero {
    width: 90%;
    margin-top: 30px;
    .text {
      p {
        display: none;
      }
    }
    form {
      gap: 10px;
      div {
        input {
          width: 85%;
        }
      }
    }
  }
  .pricingChoice {
    padding: 15% 7.5% 10% 7.5%;
    border-radius: 250px 0 0 0;
    .pricingCards {
      display: flex;
      flex-direction: column-reverse;
      margin: 2% 0 2% 0;
      gap: 40px;
    }
  }
  .faq {
    width: 100%;
    background-color: white;
    height: 750px;
  }
}
