@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Nunito:wght@300;400;500;700&family=Sarala:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Nunito";
}

h1 {
  font-size: 3.7vw;
}

h2 {
  font-size: 3.5vw;
}

h3 {
  font-size: 2vw;
}

h4,
h5,
h6 {
  font-family: "Marvel";
}

h4 {
  font-size: 2.2vw;
}

h5 {
  font-size: 2vw;
}

h6 {
  font-size: 1.7vw;
}

p,
a {
  font-family: "Sarala";
  font-size: 1vw;
}

.small-img {
  width: 15%;
  filter: invert(100%);
}

.card {
  border-radius: 2vw;
  overflow: hidden;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.card .cardImage {
  flex: 1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .cardImage img {
  width: 30%;
}
.card .cardBody {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.card .cardBody .cardTitle {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5%;
}
.card .cardBody .cardTitle h4 {
  font-size: 2rem;
}
.card .cardBody .cardLink {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  padding-right: 15%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}
.list .card {
  width: 85%;
  border-color: rgba(255, 243, 207, 0.7254901961);
}
.list .card .cardImage {
  background-color: transparent;
}
.list .card .cardImage img {
  width: 50%;
}

.button,
button {
  height: 5vh;
  width: 8.5vw;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-alt-color {
  background-color: rgba(255, 243, 207, 0.7254901961);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin-bottom: 5vh;
}
.text h3 {
  margin-bottom: 2vh;
}
.text p {
  width: 60%;
}
.text button {
  margin-top: 3vh;
  cursor: pointer;
}

.pricingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 3vh;
  padding: 4%;
  border-radius: 20px;
  background-color: #fff;
}
.pricingCard .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  gap: 10px;
}
.pricingCard .card-text {
  margin: 0 10% 0 10%;
  text-align: center;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(99, 207, 228);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.homeNav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 4vh;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
.homeNav .brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  gap: 10px;
}
.homeNav .brand img {
  width: 5%;
  border-radius: 10px;
}
.homeNav .links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.homeNav .links a {
  text-decoration: none;
  color: black;
}
.homeNav .links a:hover {
  text-decoration: underline;
}
.homeNav .links p {
  cursor: default;
}

.carousel {
  max-width: 100vw;
  height: 70vh;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-width: 40px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel .inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.carousel .inner .item {
  max-height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .inner .item .hero {
  background-color: rgba(255, 243, 207, 0.7254901961);
  border-radius: 20px;
  border: 10px solid rgba(255, 243, 207, 0.7254901961);
  box-shadow: inset 0 0 2px 10px #fff;
  height: 95%;
  display: flex;
  width: 100%;
  margin: 100px;
  gap: 10px;
}
.carousel .inner .item .hero .col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 0;
  gap: 20px;
  color: rgb(41, 41, 41);
}
.carousel .inner .item .hero .col img {
  width: 100%;
  filter: invert(100%);
}
.carousel .inner .item .hero .col h1 {
  text-align: left;
  width: 90%;
}
.carousel .inner .item .hero .col h4 {
  text-align: left;
  width: 100%;
}
.carousel .inner .item .hero .col .buttons {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.carousel .inner .item .hero .hero-img {
  align-items: center;
  justify-content: flex-end;
}
.carousel .inner .item .features {
  align-items: center;
  background-color: rgba(255, 243, 207, 0.7254901961);
  border-radius: 20px;
  border: 10px solid rgba(255, 243, 207, 0.7254901961);
  box-shadow: inset 0 0 2px 10px #fff;
  height: 95%;
  display: flex;
  width: 100%;
  margin: 100px;
  gap: 10px;
}
.carousel .inner .item .features .cols {
  max-height: 70vh;
  display: flex;
  align-items: center;
}
.carousel .inner .item .features .cols .cards {
  height: 55vh;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 5px;
}
.carousel .inner .item .features .cols .cards .card {
  flex: 1;
  width: 80%;
}
.carousel .inner .item .features .cols .surf-img {
  flex: 1;
}
.carousel .inner .item .features .cols .surf-img img {
  height: 55vh;
  filter: invert(100%);
}
.carousel .inner .item .pricing {
  background-color: rgba(255, 243, 207, 0.7254901961);
  border-radius: 20px;
  border: 10px solid rgba(255, 243, 207, 0.7254901961);
  box-shadow: inset 0 0 2px 10px #fff;
  height: 95%;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 100px;
  gap: 10px;
  color: black;
}
.carousel .inner .item .pricing .text {
  flex: 2;
}
.carousel .inner .item .pricing .pricingCards {
  flex: 3;
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.carousel .inner .item .pricing .pricingCards .pricingCard {
  width: 35%;
}

.selectors {
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 30px;
}
.selectors .selector {
  background-color: rgba(255, 243, 207, 0.7254901961);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 1s;
}
.selectors .selector:hover {
  transform: scale(110%);
}
.selectors .active {
  background-color: #fff;
}

.signin {
  overflow-x: hidden;
  height: 100vh;
}
.signin .signinHero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px 0 50px 0;
}
.signin .signinHero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 40px 0;
  gap: 10px;
}
.signin .signinHero form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signin .signinHero form div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signin .signinHero form div input {
  width: 65%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}

.signupHero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 0 50px 0;
}
.signupHero .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 40px 0;
  gap: 10px;
}
.signupHero form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signupHero form .name-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signupHero form .name-inputs div {
  width: 100%;
  display: flex;
  gap: 20px;
}
.signupHero form .name-inputs div input {
  width: 75%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}
.signupHero form .email-pass {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.signupHero form .email-pass div {
  width: 100%;
}
.signupHero form .email-pass div input {
  width: 100%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}
.signupHero form .pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signupHero form .pass .pass-inputs {
  width: 100%;
  display: flex;
  gap: 20px;
}
.signupHero form .pass .pass-inputs input {
  width: 75%;
  height: 40px;
  border-radius: 7.5px;
  padding-left: 10px;
  border: none;
  font-size: 1.2rem;
}
.signupHero form .hidden {
  display: none;
}
.signupHero form button {
  width: 60%;
  height: 40px;
}

.pricingChoice {
  flex: 9;
  display: flex;
  align-items: center;
  color: black;
  width: 90%;
}
.pricingChoice .text {
  flex: 1;
}
.pricingChoice .text p {
  width: 70%;
}
.pricingChoice .text div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pricingChoice .text div button {
  width: 35%;
}
.pricingChoice .card-container {
  flex: 1;
}
.pricingChoice .card-container .pricingCards {
  display: flex;
  gap: 40px;
}
.pricingChoice .selected {
  background-color: rgba(255, 243, 207, 0.7254901961);
}

@media screen and (max-width: 600px) {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    margin-bottom: 40px;
  }
  .text h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    width: 90%;
  }
  .text p {
    width: 80%;
    font-size: 1.2rem;
  }
  .list {
    margin: 0 5% 0 5%;
  }
  .list .item h3 {
    font-size: 1.4rem;
    width: 70%;
    margin-bottom: 10px;
  }
  .homeNav {
    width: 90%;
  }
  .homeNav .brand h4 {
    font-size: 1rem;
  }
  .homeNav .links a {
    font-size: 0.9rem;
  }
  .homeNav .links .button {
    display: none;
  }
  .hero {
    margin-top: 80px;
    width: 100%;
  }
  .hero .hero-img {
    display: none;
  }
  .features .cards {
    flex-direction: column;
  }
  .uses {
    border-radius: 200px 0 0 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
  }
  .pricing .pricingCards {
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 60px 0 35px 0;
    gap: 20px;
    color: black;
    background-color: white;
  }
  .footer h2 {
    font-size: 1rem;
  }
  .footer .links {
    display: flex;
    gap: 10px;
  }
  .footer .links a {
    text-decoration: none;
    color: black;
  }
  .signinHero {
    width: 90%;
    margin-top: 30px;
  }
  .signinHero .text p {
    display: none;
  }
  .signinHero form {
    gap: 10px;
  }
  .signinHero form div input {
    width: 85%;
  }
  .pricingChoice {
    padding: 15% 7.5% 10% 7.5%;
    border-radius: 250px 0 0 0;
  }
  .pricingChoice .pricingCards {
    display: flex;
    flex-direction: column-reverse;
    margin: 2% 0 2% 0;
    gap: 40px;
  }
  .faq {
    width: 100%;
    background-color: white;
    height: 750px;
  }
}/*# sourceMappingURL=home.css.map */